{% extends "layout.html" %}

{% block body %}

    <a href="/play_ball">
        <button name="play_ball">Play Ball!</button>
    </a>

    <!--<button type="button" onclick="window.location.href='{{ url_for( 'play_ball') }}';">Play Ball!</button>

    <form method="post">
        
        <button name="new_game" type="submit">New Game</button> alternative: <button type="button" onclick="window.location.href='{{ url_for( 'new_game') }}';">New Game</button> https://stackoverflow.com/questions/42601478/flask-calling-python-function-on-button-onclick-event 

    </form>-->

{% endblock %}